@charset "UTF-8";

.container {
    width: 400px;
    height: 450px;
    background-color: black;
}

.red-box {
    height: 100px;
    background-color: #ff0000;
}

.flex-box {
    display: flex;
}

.green-box {
    width: 150px;
    height: 250px;
    background-color: #00ff1e;
}

.blue-box {
    width: 250px;
    height: 250px;
    background-color: #3300ff;
}

.yellow-box {
    height: 100px;
    background: #ffe600;
}